Source: ocaml-monad-custom
Section: ocaml
Priority: optional
Maintainer: Pippijn van Steenhoven <pip88nl@gmail.com>
Build-Depends:
 debhelper (>= 8.0.0),
 obuild,
 dh-ocaml,
 ocaml-nox (>= 3.12),
 ocaml-findlib,
 camlp4-extra
Standards-Version: 3.9.2
Homepage: https://github.com/pippijn/re2ml
Vcs-Git: git://github.com/pippijn/re2ml
Vcs-Browser: https://github.com/pippijn/re2ml

Package: libmonad-custom-camlp4
Architecture: any
Depends: ${ocaml:Depends}, ${misc:Depends}, ${shlibs:Depends}
Provides: ${ocaml:Provides}
Description: Monadic syntax extension
 This Camlp4 parser adds some syntactic sugar to beautify monadic
 expressions.  The name of the syntax extension is a bit misleading as
 it does not provide any monad nor monadic computation.  The correct
 name would have been "pa_perform", but it was discarded because of
 lack of specificity.

Package: libmonad-custom-camlp4-dev
Architecture: any
Depends: ${ocaml:Depends}, ${misc:Depends}, ${shlibs:Depends}
Provides: ${ocaml:Provides}
Description: Monadic syntax extension
 This Camlp4 parser adds some syntactic sugar to beautify monadic
 expressions.  The name of the syntax extension is a bit misleading as
 it does not provide any monad nor monadic computation.  The correct
 name would have been "pa_perform", but it was discarded because of
 lack of specificity.
